
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    .form-container {
      border: 1px solid #ced4da;
      padding: 20px;
      border-radius: 10px;
      max-width: 500px;
      margin: auto;
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <div class="container text-center">
    <h3 class="text-center my-4">Log In</h3>
    <div class="form-container">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="mb-3">
        <label for="" >Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
        <div class="mb-3">
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password" required>
        
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlG0KJZtA8W49WjAtxK3o6AxZl+PpJtI6T/LvPYgKjauK2Fjkl1dYLmbl5v" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVK/XB7rEzMU/zaP2z4SpVRa2FxPKfVi6j6W4U26Vf0HJ4GQvsez8VDd5dIx7L0L" crossorigin="anonymous"></script>
</body>
</html>



